<mat-toolbar fxLayout="row">
  <span fxFlex>My Application</span>
  <div fxFlex="grow">
  </div>
  <button *ngIf="(loggedIn$ | async)"
          mat-raised-button color="primary"
          fxFlex="noshrink"
          (click)="logout()">
    Logout
  </button>
  <button *ngIf="!(loggedIn$ | async)"
          mat-raised-button color="primary"
          fxFlex="noshrink"
          (click)="login()">
    Login
  </button>
</mat-toolbar>
